@model IEnumerable<Proyecto_ED22.Models.PacienteModel>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado pacientes</h1>

<p  class="text-center">
    <a asp-action="Create">Agendar cita</a>
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimaConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaProximaConsulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DPI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaUltimaConsulta)
                    </td>
                    <td>
                        @if (item.FechaProximaConsulta != null)
                        {
                            @Html.DisplayFor(modelItem => item.FechaProximaConsulta);
                        }
                        else
                        {
                            <p>Sin fecha</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Reprogramar cita", "Edit", new {  id=item.DPI  }) |
                        @Html.ActionLink("Detalles", "Details", new {  id=item.DPI  })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
