@model IEnumerable<Proyecto_ED22.Models.PacienteModel>

@{
    ViewData["Title"] = "ObtenerPacienteLimpiezaDental";
}

<h1 class="text-center">Seguimiento de tratamientos de limipieza dental</h1>
<br />
<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimaConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaProximaConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DPI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaUltimaConsulta)
                    </td>
                    <td>
                        @if (item.FechaProximaConsulta != null)
                        {
                            @Html.DisplayFor(modelItem => item.FechaProximaConsulta);
                        }
                        else
                        {
                            <p class="text-center">Sin fecha</p>
                        }
                    </td>
                    <td>
                        @if (item.Descripcion != "")
                        {
                            @Html.DisplayFor(modelItem => item.Descripcion);
                        }
                        else
                        {
                            <p class="text-center">Sin Descripción</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.DPI })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}
